@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-black cursor-none font-inter;
  }
}

.font-space-grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

::selection {
  @apply bg-emerald-400 text-black;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-black;
}

::-webkit-scrollbar-thumb {
  @apply bg-emerald-400 rounded-full;
}